.tooltip-line {
  stroke: var(--primary-colour);
  stroke-width: 1;
}

.tooltip-point {
  fill: var(--primary-colour);
}

.content-title {
  font-weight: 600;
}

.tooltip-content {
  fill: currentColor;
  color: var(--main-text-colour);
}
