header.header {
  background-color: var(--main-banner-colour);
  color: var(--white);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.controls {
  padding: 0.5rem;
}
