body {
  --main-background-colour: rgba(250, 243, 240, 1);
  --primary-colour: rgba(203, 72, 49, 1);
  --primary-shadow: rgba(255, 167, 138, 1);
  --primary-colour-dark: rgba(255, 90, 61, 1);
  --accent-colour: rgba(245, 204, 198, 1);
  --main-text-colour: rgba(25, 16, 12, 1);
  --secondary-text-colour: rgba(153, 145, 142, 1);
  --alternative-colour: rgba(139, 188, 163, 1);
  --white: #ffffff;
  --main-banner-colour: rgba(234, 132, 117, 1);
  --white-alpha: rgba(255, 255, 255, 0.08);
  --overlay-alpha: rgba(0, 0, 0, 0.5);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-colour);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  padding: 2rem;
}

.wrapper {
  position: relative;
}
